<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betterhy.db.dao.generate.OaAuthJnlMapper">
  <resultMap id="BaseResultMap" type="com.betterhy.db.dto.OaAuthJnl">
    <id column="AUTH_ID" jdbcType="BIGINT" property="authId" />
    <result column="APPLY_ID" jdbcType="BIGINT" property="applyId" />
    <result column="APPLY_TYPE" jdbcType="INTEGER" property="applyType" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="AUTH_USER_ID" jdbcType="INTEGER" property="authUserId" />
    <result column="AUTH_USERNAME" jdbcType="VARCHAR" property="authUsername" />
    <result column="AUTH_STATUS" jdbcType="INTEGER" property="authStatus" />
    <result column="AUTH_REMARK" jdbcType="VARCHAR" property="authRemark" />
    <result column="AUTH_DATE" jdbcType="TIMESTAMP" property="authDate" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    AUTH_ID, APPLY_ID, APPLY_TYPE, USER_ID, USERNAME, AUTH_USER_ID, AUTH_USERNAME, AUTH_STATUS,
    AUTH_REMARK, AUTH_DATE, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.betterhy.db.dto.OaAuthJnlExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from oa_auth_jnl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from oa_auth_jnl
    where AUTH_ID = #{authId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_auth_jnl
    where AUTH_ID = #{authId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.betterhy.db.dto.OaAuthJnlExample">
    delete from oa_auth_jnl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.betterhy.db.dto.OaAuthJnl">
    insert into oa_auth_jnl (AUTH_ID, APPLY_ID, APPLY_TYPE,
      USER_ID, USERNAME, AUTH_USER_ID,
      AUTH_USERNAME, AUTH_STATUS, AUTH_REMARK,
      AUTH_DATE, CREATE_TIME, UPDATE_TIME
      )
    values (#{authId,jdbcType=BIGINT}, #{applyId,jdbcType=BIGINT}, #{applyType,jdbcType=INTEGER},
      #{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{authUserId,jdbcType=INTEGER},
      #{authUsername,jdbcType=VARCHAR}, #{authStatus,jdbcType=INTEGER}, #{authRemark,jdbcType=VARCHAR},
      #{authDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.betterhy.db.dto.OaAuthJnl">
    insert into oa_auth_jnl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        AUTH_ID,
      </if>
      <if test="applyId != null">
        APPLY_ID,
      </if>
      <if test="applyType != null">
        APPLY_TYPE,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="authUserId != null">
        AUTH_USER_ID,
      </if>
      <if test="authUsername != null">
        AUTH_USERNAME,
      </if>
      <if test="authStatus != null">
        AUTH_STATUS,
      </if>
      <if test="authRemark != null">
        AUTH_REMARK,
      </if>
      <if test="authDate != null">
        AUTH_DATE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        #{authId,jdbcType=BIGINT},
      </if>
      <if test="applyId != null">
        #{applyId,jdbcType=BIGINT},
      </if>
      <if test="applyType != null">
        #{applyType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="authUserId != null">
        #{authUserId,jdbcType=INTEGER},
      </if>
      <if test="authUsername != null">
        #{authUsername,jdbcType=VARCHAR},
      </if>
      <if test="authStatus != null">
        #{authStatus,jdbcType=INTEGER},
      </if>
      <if test="authRemark != null">
        #{authRemark,jdbcType=VARCHAR},
      </if>
      <if test="authDate != null">
        #{authDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.betterhy.db.dto.OaAuthJnlExample" resultType="java.lang.Long">
    select count(*) from oa_auth_jnl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update oa_auth_jnl
    <set>
      <if test="record.authId != null">
        AUTH_ID = #{record.authId,jdbcType=BIGINT},
      </if>
      <if test="record.applyId != null">
        APPLY_ID = #{record.applyId,jdbcType=BIGINT},
      </if>
      <if test="record.applyType != null">
        APPLY_TYPE = #{record.applyType,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.authUserId != null">
        AUTH_USER_ID = #{record.authUserId,jdbcType=INTEGER},
      </if>
      <if test="record.authUsername != null">
        AUTH_USERNAME = #{record.authUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.authStatus != null">
        AUTH_STATUS = #{record.authStatus,jdbcType=INTEGER},
      </if>
      <if test="record.authRemark != null">
        AUTH_REMARK = #{record.authRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.authDate != null">
        AUTH_DATE = #{record.authDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update oa_auth_jnl
    set AUTH_ID = #{record.authId,jdbcType=BIGINT},
      APPLY_ID = #{record.applyId,jdbcType=BIGINT},
      APPLY_TYPE = #{record.applyType,jdbcType=INTEGER},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      AUTH_USER_ID = #{record.authUserId,jdbcType=INTEGER},
      AUTH_USERNAME = #{record.authUsername,jdbcType=VARCHAR},
      AUTH_STATUS = #{record.authStatus,jdbcType=INTEGER},
      AUTH_REMARK = #{record.authRemark,jdbcType=VARCHAR},
      AUTH_DATE = #{record.authDate,jdbcType=TIMESTAMP},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.betterhy.db.dto.OaAuthJnl">
    update oa_auth_jnl
    <set>
      <if test="applyId != null">
        APPLY_ID = #{applyId,jdbcType=BIGINT},
      </if>
      <if test="applyType != null">
        APPLY_TYPE = #{applyType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="authUserId != null">
        AUTH_USER_ID = #{authUserId,jdbcType=INTEGER},
      </if>
      <if test="authUsername != null">
        AUTH_USERNAME = #{authUsername,jdbcType=VARCHAR},
      </if>
      <if test="authStatus != null">
        AUTH_STATUS = #{authStatus,jdbcType=INTEGER},
      </if>
      <if test="authRemark != null">
        AUTH_REMARK = #{authRemark,jdbcType=VARCHAR},
      </if>
      <if test="authDate != null">
        AUTH_DATE = #{authDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where AUTH_ID = #{authId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.betterhy.db.dto.OaAuthJnl">
    update oa_auth_jnl
    set APPLY_ID = #{applyId,jdbcType=BIGINT},
      APPLY_TYPE = #{applyType,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      USERNAME = #{username,jdbcType=VARCHAR},
      AUTH_USER_ID = #{authUserId,jdbcType=INTEGER},
      AUTH_USERNAME = #{authUsername,jdbcType=VARCHAR},
      AUTH_STATUS = #{authStatus,jdbcType=INTEGER},
      AUTH_REMARK = #{authRemark,jdbcType=VARCHAR},
      AUTH_DATE = #{authDate,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where AUTH_ID = #{authId,jdbcType=BIGINT}
  </update>
</mapper>